* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway.heavy';
    src: url('../fonts/raleway.heavy.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #b07cf7;
}

#title {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway';
    font-size: 90pt;
    color: #ffffff;
}

#text {
    text-align: center;
    font-family: 'Raleway-Light';
    font-size: 17pt;
    color: #ffffff;
    margin-top: 52px;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards {
    display: inline-block;
    width: 370px;
    height: 310px;
}

.gradient {
    display: inline-block;
    position: relative;
}

.gradient:before {
    content: "";
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.gradient:hover:before {
    cursor: default;
    content: "";
    display: block;
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;    
    left: 0;   
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(98,69,138,1) 20%, rgba(176,124,247,1) 40%, rgba(176,124,247,1) 100%);
    z-index: 1;
    opacity: 1; 
}

.gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0));
    opacity: 0.7;
}

.content_date {
    display: inline-block;
    background-color: rgba(78, 85, 94, 0.5);
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    font-family: 'Raleway.heavy';
    font-size: 18pt;
    color: #ffffff;
    line-height: 25px;
    position: relative;
    top: -285px;
    left: 30px;
    z-index: 2;
}

.content_date span {
    font-size: 25pt;
    font-family: 'Raleway-Bold';
}

.content_text_big {
    position: relative;
    font-family: 'Raleway-Bold';
    font-size: 14pt;
    color: #ffffff;
    top: -180px;
    left: 20px;
    z-index: 2;
}

.content_text_small {
    position: relative;
    font-family: 'Raleway-Light';
    font-size: 11pt;
    color: #ffffff;
    top: -155px;
    left: 20px;
    z-index: 2;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    border: none;
    font-family: 'Raleway-Light';
    font-size: 17pt;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 0px 1px black;
}
